<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/template}">
<head>
    <title>Danh sách khách hàng</title>
    <style>
        label.error {
            color: red;
            width: 200px;
            position: absolute;
        }

        .dropdown-menu {
            left: 30px !important;
        }

        .datepicker {
            margin-left: 75px;
        }
    </style>
</head>
<body>
<div class="content">
    <header layout:fragment="header" class="mt-3 ml-2 mr-2">
        <script>
            $(document).ready(function () {
                $('body').append('<div style="" id="loadingDiv"><div class="loader"></div></div>');
                $(document).ajaxStart(function () {
                    $('#loadingDiv').show();
                }).ajaxStop(function () {
                    $('#loadingDiv').remove();
                });
                showCustomerTable();
                $("#dob_add").datepicker(
                    {
                        todayHighlight: true,
                        format: 'dd/mm/yyyy',
                        autoclose: true
                    }
                );
                $("#ngayBDSD_add").datepicker(
                    {
                        todayHighlight: true,
                        format: 'dd/mm/yyyy',
                        autoclose: true
                    }
                );
                $("#dob_edit").datepicker(
                    {
                        todayHighlight: true,
                        format: 'dd/mm/yyyy',
                        autoclose: true
                    }
                );
                $("#ngayBDSD_edit").datepicker(
                    {
                        todayHighlight: true,
                        format: 'dd/mm/yyyy',
                        autoclose: true
                    }
                );
                $("#customer_ID_search").focus();
            });
        </script>
        <script th:src="@{/js_templates/danhSachKH.js}"></script>
    </header>
    <section class="container-fluid" layout:fragment="content_body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header header-elements-inline" style="padding-bottom: 0;">
                        <div class="breadcrumb-elements-item dropdown p-0">
                            <label class="breadcrumb-elements-item" aria-expanded="false">
                                <i class="icon-arrow-right8 mr-2"></i>Số người dùng:
                            </label>
                            <label class="breadcrumb-elements-item ml-1" aria-expanded="false" id="soNguoiDung"></label>
                            <button class="breadcrumb-elements-item dropdown p-0 ml-4" data-toggle="tooltip"
                                    onclick="showCustomerTable()"
                                    title="Xem danh sách khách hàng">
                                <i class="icon-accessibility mr-1"></i><span class="mr-1">Xem danh sách</span>
                            </button>
                            <button onclick="showAddFormCustomer()" class="breadcrumb-elements-item dropdown p-0 ml-1"
                                    data-toggle="tooltip" title="Thêm khách hàng">
                                <i class="icon-plus-circle2"></i><span class="ml-1 mr-1">Thêm khách hàng</span>
                            </button>
                        </div>
                        <form id="form_search_customer">
                            <div class="d-flex align-items-end flex-nowrap flex-xl-nowrap"
                                 style="margin-left: auto; margin-right: 60px">
                                <label class="mr-2 mb-0" for="customer_ID_search">Tìm:</label>
                                <div style="position: relative">
                                    <input type="text" class="form-control text-dark flex-1 wmin-xl-100 border-bottom-1"
                                           placeholder="Mã khách hàng"
                                           style="text-align: center"
                                           id="customer_ID_search" name="customer_ID_search">
                                    <label class="error"></label>
                                </div>
                                <button data-toggle="tooltip" title="Tìm" class="btn btn-info center-block ml-1"
                                        style="padding: 4px 4px 0 3px; border-radius: 10px"><i
                                        class="icon-search4 mb-1"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="dropdown-divider" style="border: 1px solid #ced3cf"></div>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <div class="datatable-scroll-wrap"
                             style="overflow-y:scroll; max-height: 500px; text-align: center;">
                            <table class="table datatable-responsive dataTable no-footer dtr-inline"
                                   id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <div class="overlay_bang_khach_hang"></div>
                                <thead>
                                <tr role="row">
                                    <th>Mã</th>
                                    <th>Tên</th>
                                    <th>Ngày sinh</th>
                                    <th>Số chứng minh nhân dân</th>
                                    <th>Địa chỉ</th>
                                    <th>Mail</th>
                                    <th>Giới tính</th>
                                    <th>Số điện thoại</th>
                                    <th>Ngày sử dụng</th>
                                    <th>Loại điện</th>
                                    <th>Tác vụ</th>
                                </tr>
                                </thead>
                                <tbody id="bang_khach_hang">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <nav class="nav__add-customer">
                        <ul class="nav__edit-list" style="padding-top: 16px">
                            <li class="nav__edit-input">
                                <i class="icon-users">
                                    <span class="ml-3 mt-2"
                                          style="font-size: 22px; color: #0f74a8;"
                                          id="title_addUser">Thêm người dùng</span></i>
                                <i class="icon-close2" style="color: red; margin-top: 1px; margin-left: 260px;"
                                   data-toggle="tooltip" title="Đóng" onclick="closeEditForm()"></i>
                            </li>
                            <hr>
                            <form id="add_form">
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    <label>Mã:</label>
                                    <input name="idKH_add_input" id="idKH_add_input"
                                           style="border: 1px #ececec solid; margin-left: 16px; margin-right: 30px" size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Tên: <input id="ten_add" name="ten_add"
                                                   style="border: 1px #ececec solid; margin-left: 14px; margin-right: 30px"
                                                   size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Ngày sinh: <input id="dob_add" name="dob_add" placeholder="Chọn ngày sinh"
                                                      style="border: 1px #ececec solid; margin-right: 30px" size="40" readonly>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Số CMND: <input id="soCmnd_add" name="soCmnd_add"
                                                    style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                                    size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Địa chỉ: <textarea id="diaChi_add" name="diaChi_add"
                                                       style="border: 1px #ececec solid; margin-right: 30px" cols="50"
                                                       rows="2"></textarea>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Mail: <input id="mail_add" name="mail_add"
                                                 style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px" size="45">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Giới tính:
                                    <select id="gioiTinh_add">
                                        <option value="1">Nam</option>
                                        <option value="2">Nữ</option>
                                    </select>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Số điện thoại: <input id="sdt_add" name="sdt_add"
                                                  style="border: 1px #ececec solid; margin-left: 3px; margin-right: 30px"
                                                  size="43">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Ngày sử dụng: <input id="ngayBDSD_add" name="ngayBDSD_add"
                                                      placeholder="Chọn ngày sử dụng"
                                                      style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px" size="38"
                                                      readonly>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Loại điện:
                                    <select id="MDSD_add">
                                        <option value="1">Sinh hoạt</option>
                                        <option value="2">Sinh hoạt trả trước</option>
                                    </select>
                                </li>
                                <hr>
                                <a href="#" data-toggle="tooltip" title="Edit">
                                    <button class="btn btn-info center-block mb-1" id="btn-add-user"
                                            style="padding: 5px 5px 5px 5px; border-radius: 20px; margin-left: 140px;">
                                        Thêm mới
                                    </button>
                                </a>
                            </form>
                        </ul>
                    </nav>
                    </form>
                    <nav class="nav__edit-customer">
                        <ul class="nav__edit-list" style="padding-top: 16px">
                            <li class="nav__edit-input">
                                <i class="icon-users">
                                        <span class="ml-2 mt-2" style="font-size: 22px; color: #0f74a8"
                                              id="title_editUser">Cập nhật thông tin người dùng</span></i>
                                <i class="icon-close2" style="color: red; margin-top: 1px; margin-left: 170px;"
                                   data-toggle="tooltip" title="Đóng" onclick="closeEditForm()"></i>
                            </li>
                            <hr>
                            <form id="edit_form">
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    <label>Mã:</label>
                                    <input name="idKH_edit_input" id="idKH_edit_input"
                                           style="border: 1px #ececec solid; margin-left: 16px;" size="40" readonly>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Tên: <input id="ten_edit" name="ten_edit"
                                                   style="border: 1px #ececec solid; margin-left: 14px; margin-right: 30px"
                                                   size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Ngày sinh: <input id="dob_edit" name="dob_edit" placeholder="Chọn ngày sinh"
                                                      style="border: 1px #ececec solid; margin-right: 30px" size="40" readonly>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Số CMND: <input id="soCmnd_edit" name="soCmnd_edit"
                                                    style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                                    size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Địa chỉ: <textarea id="diaChi_edit" name="diaChi_edit"
                                                       style="border: 1px #ececec solid; margin-right: 30px" cols="50"
                                                       rows="2"></textarea>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Mail: <input id="mail_edit" name="mail_edit"
                                                 style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px" size="45">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Giới tính:
                                    <select id="gioiTinh_edit">
                                        <option value="1">Nam</option>
                                        <option value="2">Nữ</option>
                                    </select>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Số điện thoại: <input id="sdt_edit" name="sdt_edit"
                                                  style="border: 1px #ececec solid;margin-left: 3px; margin-right: 30px"
                                                  size="43">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Ngày bắt đầu sử dụng: <input id="ngayBDSD_edit" name="ngayBDSD_edit"
                                                      placeholder="Chọn ngày sử dụng"
                                                      style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px" size="38"
                                                      readonly>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Loại điện:
                                    <select id="MDSD_edit">
                                        <option value="1">Sinh hoạt</option>
                                        <option value="2">Sinh hoạt trả trước</option>
                                    </select>
                                </li>
                                <li>
                                    <hr>
                                    <a href="#" data-toggle="tooltip" title="Edit">
                                        <button class="btn btn-info center-block mb-1"
                                                id="btn-edit-user"
                                                style="padding: 5px 5px 5px 5px; border-radius: 20px; margin-left: 140px">
                                            Cập nhật
                                        </button>
                                    </a>
                                </li>
                            </form>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--Start Modal send mail-->
        <div class="modal fade alert" id="SendMailModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button data-toggle="tooltip" title="Đóng" type="button" class="close"
                                data-dismiss="modal"><span aria-hidden="true"
                                                           style="margin-right: 62px;">x</span><span
                                class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="lineModalLabel" style="margin-right: 198px!important;">Thông tin
                            mail</h3>
                    </div>
                    <div class="modal-body">
                        <label>Bên gửi: <span
                                style="color: black; font-weight: bold; font-size: 16px">Electric Company</span></label>
                        <br>
                        <label>Bên nhận: <span id="mail_address_receive"
                                               style="color: black; font-weight: bold; font-size: 16px; margin-right: 4px;"></span></label>
                        <label>(<span id="name_customer_receive"
                                      style="color: #47a4ff; font-weight: bold; font-size: 16px;"></span>)</label>
                        <form id="form_sendMail">
                            <label for="text_mail_subject">
                                Tiêu đề: </label>
                            <div style="position: relative">
                                <input id="text_mail_subject" name="text_mail_subject"
                                       style="margin-left: 2px; width: 475px; margin-right: 2px"
                                       placeholder="Nhập tiêu đề mail">
                                <label class="error"></label>
                            </div>
                            <label for="text_mail_content">
                                Nội dung:
                                <div style="position: relative">
                                    <textarea id="text_mail_content" name="text_mail_content"></textarea><br>
                                    <label class="text-danger" id="content_mail_error"></label>
                                    <script>
                                        CKEDITOR.replace('text_mail_content');
                                    </script>
                                </div>
                            </label>
                            <button data-toggle="tooltip" title="Gửi" type="submit" class="btn btn-primary center-block"
                                    style="margin-left: 250px"
                                    id="btn__modal-send">Gửi mail
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <span id="id_KH_delete_td" style="display: none"></span>
        <!--End Modal send mail-->
    </section>
</div>
</body>
</html>
