<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/template}">
<head>
    <title>Danh sách khách hàng</title>
    <style>
        label.error {
            color: red;
            width: 200px;
            position: absolute;
        }

        .dropdown-menu {
            left: 30px !important;
        }
    </style>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
<div class="content">
    <header layout:fragment="header" class="mt-3 ml-2 mr-2">
        <script>
            $(document).ready(function () {
                $('body').append('<div style="" id="loadingDiv"><div class="loader"></div></div>');
                $(document).ajaxStart(function () {
                    $('#loadingDiv').show();
                }).ajaxStop(function () {
                    $('#loadingDiv').remove();
                });
                showCustomerTable();
                $("#dob_add").datepicker(
                    {
                        todayHighlight: true,
                        format: 'dd/mm/yyyy'
                    }
                );
                $("#ngayBDSD_add").datepicker(
                    {
                        todayHighlight: true,
                        format: 'dd/mm/yyyy'
                    }
                );
                $("#dob_edit").datepicker(
                    {
                        todayHighlight: true,
                        format: 'dd/mm/yyyy'
                    }
                );
                $("#ngayBDSD_edit").datepicker(
                    {
                        todayHighlight: true,
                        format: 'dd/mm/yyyy'
                    }
                );
                $("#customer_ID_search").focus();
            });
        </script>
        <script th:src="@{/js_templates/danhSachKH.js}"></script>
    </header>
    <section class="container-fluid" layout:fragment="content_body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <div class="breadcrumb-elements-item dropdown p-0">
                            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <i class="icon-gear mr-2"></i>
                                Chức năng
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="top-end"
                                 style="position: absolute; will-change: transform; top: 0; left: 0; transform: translate3d(-83px, -45px, 0px);">
                                <a th:href="@{/trang-chu}" class="dropdown-item"><i class="icon-accessibility"></i>Xem
                                    danh sách khách hàng</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" onclick="showAddFormCustomer()" class="dropdown-item"><i
                                        class="icon-plus-circle2"></i>Thêm khách hàng</a>
                            </div>
                        </div>
                        <form id="form_search_customer">
                            <div class="d-flex align-items-end flex-nowrap flex-xl-nowrap"
                                 style="margin-left: auto; margin-right: 60px">
                                <label class="mr-2 mb-0" for="customer_ID_search">Tìm:</label>
                                <div style="position: relative">
                                    <input type="text" class="form-control text-dark flex-1 wmin-xl-200 border-bottom-1"
                                           placeholder="Nhập mã khách hàng"
                                           style="text-align: center"
                                           id="customer_ID_search" name="customer_ID_search">
                                    <label class="error"></label>
                                </div>
                                <button data-toggle="tooltip" title="Tìm" class="btn btn-info center-block ml-1"
                                        style="padding: 5px 5px 0 5px; border-radius: 10px"><i
                                        class="icon-search4 mb-1"></i></button>
                            </div>
                        </form>
                    </div>
                    <hr>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <div class="datatable-scroll-wrap"
                             style="overflow-y:scroll; max-height: 500px; text-align: center; margin-top: 30px">
                            <table class="table datatable-responsive dataTable no-footer dtr-inline"
                                   id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <div class="overlay_bang_khach_hang"></div>
                                <thead>
                                <tr role="row">
                                    <th>Mã KH</th>
                                    <th>Tên KH</th>
                                    <th>Ngày sinh</th>
                                    <th>Số CMND</th>
                                    <th>Địa chỉ</th>
                                    <th>Mail</th>
                                    <th>Giới tính</th>
                                    <th>Số ĐT</th>
                                    <th>Ngày BDSD</th>
                                    <th>Mục đích SD</th>
                                    <th>Tùy chọn</th>
                                </tr>
                                </thead>
                                <tbody id="bang_khach_hang">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <nav class="nav__add-customer">
                        <ul class="nav__edit-list" style="padding-top: 16px">
                            <li class="nav__edit-input">
                                <i class="icon-users">
                                    <span class="ml-3 mt-2"
                                          style="font-size: 22px; color: #0f74a8;"
                                          id="title_addUser">Thêm người dùng</span></i>
                                <i class="icon-close2" style="color: red; margin-top: 1px; margin-left: 260px;"
                                   data-toggle="tooltip" title="Đóng" onclick="closeEditForm()"></i>
                            </li>
                            <hr>
                            <form id="add_form">
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    <label>Mã KH:</label>
                                    <input name="idKH_add_input" id="idKH_add_input"
                                           style="border: 1px #ececec solid; margin-left: 16px;" size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Tên KH: <input id="ten_add" name="ten_add"
                                                   style="border: 1px #ececec solid; margin-left: 14px"
                                                   size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Ngày sinh: <input id="dob_add" name="dob_add" placeholder="Chọn ngày sinh"
                                                      style="border: 1px #ececec solid" size="40" readonly>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Số CMND: <input id="soCmnd_add" name="soCmnd_add"
                                                    style="border: 1px #ececec solid; margin-left: 1px"
                                                    size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Địa chỉ: <textarea id="diaChi_add" name="diaChi_add"
                                                       style="border: 1px #ececec solid" cols="50"
                                                       rows="2"></textarea>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Mail: <input id="mail_add" name="mail_add"
                                                 style="border: 1px #ececec solid; margin-left: 1px" size="45">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Giới tính:
                                    <input type="checkbox" id="nam_checkbox_add" name="nam" value="Nam"
                                           style="margin-left: 80px">
                                    <label for="nam_checkbox_edit">Nam</label>
                                    <input type="checkbox" id="nu_checkbox_add" name="nu" value="Nữ"
                                           style="margin-left: 30px">
                                    <label for="nu_checkbox_edit">Nữ</label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Số ĐT: <input id="sdt_add" name="sdt_add"
                                                  style="border: 1px #ececec solid;margin-left: 3px"
                                                  size="43">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Ngày BĐSD: <input id="ngayBDSD_add" name="ngayBDSD_add"
                                                      placeholder="Chọn ngày sử dụng"
                                                      style="border: 1px #ececec solid; margin-left: 1px" size="38"
                                                      readonly>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Mục đích SD:
                                    <select id="MDSD_add">
                                        <option value="1">Sinh hoạt</option>
                                        <option value="2">Sinh hoạt trả trước</option>
                                    </select>
                                </li>
                                <hr>
                                <a href="#" data-toggle="tooltip" title="Edit">
                                    <button class="btn btn-info center-block mb-1" id="btn-add-user"
                                            style="padding: 5px 5px 5px 5px; border-radius: 20px; margin-left: 140px;">
                                        Thêm mới
                                    </button>
                                </a>
                            </form>
                        </ul>
                    </nav>
                    </form>
                    <nav class="nav__edit-customer">
                        <ul class="nav__edit-list" style="padding-top: 16px">
                            <li class="nav__edit-input">
                                <i class="icon-users">
                                        <span class="ml-2 mt-2" style="font-size: 22px; color: #0f74a8"
                                              id="title_editUser">Cập nhật thông tin người dùng</span></i>
                                <i class="icon-close2" style="color: red; margin-top: 1px; margin-left: 170px;"
                                   data-toggle="tooltip" title="Đóng" onclick="closeEditForm()"></i>
                            </li>
                            <hr>
                            <form id="edit_form">
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    <label>Mã KH:</label>
                                    <input name="idKH_edit_input" id="idKH_edit_input"
                                           style="border: 1px #ececec solid; margin-left: 16px;" size="40" readonly>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Tên KH: <input id="ten_edit" name="ten_edit"
                                                   style="border: 1px #ececec solid; margin-left: 14px"
                                                   size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Ngày sinh: <input id="dob_edit" name="dob_edit" placeholder="Chọn ngày sinh"
                                                      style="border: 1px #ececec solid" size="40" readonly>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Số CMND: <input id="soCmnd_edit" name="soCmnd_edit"
                                                    style="border: 1px #ececec solid; margin-left: 1px"
                                                    size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Địa chỉ: <textarea id="diaChi_edit" name="diaChi_edit"
                                                       style="border: 1px #ececec solid" cols="50"
                                                       rows="2"></textarea>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Mail: <input id="mail_edit" name="mail_edit"
                                                 style="border: 1px #ececec solid; margin-left: 1px" size="45">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Giới tính:
                                    <input type="checkbox" id="nam_checkbox_edit" name="nam" value="Nam"
                                           style="margin-left: 80px">
                                    <label for="nam_checkbox_edit">Nam</label>
                                    <input type="checkbox" id="nu_checkbox_edit" name="nu" value="Nữ"
                                           style="margin-left: 30px">
                                    <label for="nu_checkbox_edit">Nữ</label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Số ĐT: <input id="sdt_edit" name="sdt_edit"
                                                  style="border: 1px #ececec solid;margin-left: 3px"
                                                  size="43">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Ngày BĐSD: <input id="ngayBDSD_edit" name="ngayBDSD_edit"
                                                      placeholder="Chọn ngày sử dụng"
                                                      style="border: 1px #ececec solid; margin-left: 1px" size="38"
                                                      readonly>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Mục đích SD:
                                    <select id="MDSD_edit">
                                        <option value="1">Sinh hoạt</option>
                                        <option value="2">Sinh hoạt trả trước</option>
                                    </select>
                                </li>
                                <li>
                                    <hr>
                                    <a href="#" data-toggle="tooltip" title="Edit">
                                        <button class="btn btn-info center-block mb-1"
                                                id="btn-edit-user"
                                                style="padding: 5px 5px 5px 5px; border-radius: 20px; margin-left: 140px">
                                            Cập nhật
                                        </button>
                                    </a>
                                </li>
                            </form>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--Start Modal send mail-->
        <div class="modal fade alert" id="SendMailModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button data-toggle="tooltip" title="Đóng" type="button" class="close"
                                data-dismiss="modal"><span aria-hidden="true"
                                                           style="margin-right: 62px;">x</span><span
                                class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="lineModalLabel" style="margin-right: 198px!important;">Thông tin
                            mail</h3>
                    </div>
                    <div class="modal-body">
                        <label>Bên gửi: <span
                                style="color: black; font-weight: bold; font-size: 16px">Electric Company</span></label>
                        <br>
                        <label>Bên nhận: <span id="mail_address_receive"
                                               style="color: black; font-weight: bold; font-size: 16px; margin-right: 4px;"></span></label>
                        <label>(<span id="name_customer_receive"
                                      style="color: #47a4ff; font-weight: bold; font-size: 16px;"></span>)</label>
                        <form id="form_sendMail">
                            <label for="text_mail_subject">
                                Tiêu đề: </label>
                            <div style="position: relative">
                                <input id="text_mail_subject" name="text_mail_subject"
                                       style="margin-left: 2px; width: 475px;"
                                       placeholder="Nhập tiêu đề mail">
                                <label class="error ml-2"></label>
                            </div>
                            <label for="text_mail_content">
                                Nội dung:
                                <div style="position: relative">
                                    <textarea id="text_mail_content" name="text_mail_content"></textarea><br>
                                    <script>
                                        CKEDITOR.replace('text_mail_content');
                                    </script>
                                </div>
                            </label>
                            <button data-toggle="tooltip" title="Gửi" type="submit" class="btn btn-primary center-block"
                                    style="margin-left: 250px"
                                    id="btn__modal-send">Gửi mail
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--End Modal send mail-->
    </section>
</div>
</body>
</html>
