<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
    <meta charset="UTF-8">
    <title>Hóa đơn chi tiết</title>
</head>
<body>
<header layout:fragment="header" class="mt-3 ml-2 mr-2">
    <script>
        $(document).ready(function () {
            showDSHoaDon();
        });

        function showDSHoaDon() {
            $.ajax({
                url: "/danh-sach-hoa-don",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var contentString;
                    for (var i = 0; i < data.length; i++) {
                        var index = i + 1;
                        contentString = contentString
                            + '<tr>'
                            + '<td>' + index + '</td>'
                            + '<td>' + data[i][0] + '</td>'
                            + '<td>' + data[i][1] + '</td>'
                            + '<td>' + data[i][2] + '</td>'
                            + '<td>' + data[i][3] + '</td>'
                            + '<td>' + data[i][4] + '</td>'
                            + '<td>' + data[i][5] + '</td>'
                            + '<td>' + data[i][6] + '</td>'
                            + '<td>' + data[i][7] + '</td>'
                            + '<td>' + data[i][8] + '</td>'
                            + '<td>10%</td>'
                            + '<td>' + data[i][9] + '</td>'
                            + '<td style="padding: 0px 0px 0px 0px"><a data-toggle="tooltip" title="Lập hóa đơn"><button data-toggle="modal" data-target="#modalCreatBillForm" class="btn btn-info center-block ml-1" onclick="lapHoaDon()" style="padding: 3px 6px 3px 6px; border-radius: 54%;"><i class="icon-pencil"></i></button></a></td>' +
                            +'</tr>';
                    }
                    $("#bang_hoa_don").html(contentString);
                }, error: function () {
                    alert("FAIL!");
                }
            });
        }
    </script>
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline" style="margin-bottom: 10px">
            <div class="page-title ">
                <h4><i class="icon-arrow-right8 mr-2"></i> <span class="font-weight-semibold">Quản lý hoán đơn</span> -
                    Danh sách hóa đơn</h4>
            </div>
        </div>
    </div>
</header>
<section class="container-fluid" layout:fragment="content_body">
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
            <div class="card-header header-elements-inline d-flex justify-content-center">
                <h5 class="card-title">Bảng danh sách hóa đơn</h5>
            </div>
            <div class="dropdown-divider" style="border: 1px solid #ced3cf"></div>
            <div class="card-body">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <div class="datatable-scroll-wrap" style="overflow-y:scroll; max-height:400px; text-align: center;">
                        <table class="table datatable-responsive dataTable no-footer dtr-inline"
                               id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                            <tr role="row">
                                <th>STT</th>
                                <th>Mã HD</th>
                                <th>Mã tháng</th>
                                <th>Mã KH</th>
                                <th>Tên</th>
                                <th>Địa chỉ</th>
                                <th>Chỉ số mới</th>
                                <th>Chỉ số cũ</th>
                                <th>Số Kwh</th>
                                <th>Mục dích</th>
                                <th>Thuế</th>
                                <th>Tiền (Đồng)</th>
                                <th>Tác vụ</th>
                            </tr>
                            </thead>
                            <tbody id="bang_hoa_don">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- /vertical form -->
        <div class="modal fade" id="modalCreatBillForm" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-end mr-3">
                        <h5 class="modal-title">Thông tin hóa đơn</h5>
                    </div>
                    <div class="dropdown-divider" style="border: 1px solid #ced3cf"></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="modal-body">
                                <div class="modal-header" style="padding: 0px!important;">
                                    <h6 class="modal-title" style="margin-right: 0px!important;">Mã KH:<label
                                            id="maKH_modalCreatBillForm"
                                            style="margin-left: 49px "></label></h6>
                                </div>
                                <div class="modal-header" style="padding: 0px!important;">
                                    <h6 class="modal-title" style="margin-right: 0px!important;">Mã tháng:<label
                                            id="maThang_modalCreatBillForm"
                                            style="margin-left: 32px "></label></h6>
                                </div>
                                <div class="modal-header" style="padding: 0px!important;">
                                    <h6 class="modal-title" style="margin-right: 0px!important;">Chỉ số mới:<label
                                            id="chiSoMoi_modalCreatBillForm"
                                            style="margin-left: 25px "></label></h6>
                                </div>
                                <div class="modal-header" style="padding: 0px!important;">
                                    <h6 class="modal-title" style="margin-right: 0px!important;">Chỉ số cũ:<label
                                            id="chiSoCu_modalCreatBillForm"
                                            style="margin-left: 34px "></label></h6>
                                </div>
                                <div class="modal-header" style="padding: 0px!important;">
                                    <h6 class="modal-title" style="margin-right: 0px!important;">Số điện TT:<label
                                            id="luongDienTT_modalCreatBillForm"
                                            style="margin-left: 23px "></label> kWh</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="modal-body" style="padding: 0px!important;">
                                <div class="modal-header">
                                    <h6 class="modal-title" style="margin-right: 0px!important;">Mã HD:<label
                                            id="maHD_modalCreatBillForm" style="margin-left: 28px"></label></h6>
                                </div>
                                <div class="modal-header">
                                    <h6 class="modal-title" style="margin-right: 0px!important;">Loại điện:<select
                                            id="loaiDienSuDung"
                                            style="border-color: #cff0da; background-color: #e7d9e1; margin-left: 15px">
                                        <option value="Sinh hoạt">Sinh hoạt</option>
                                        <option value="Sinh hoạt trả trước">Sinh hoạt trả trước</option>
                                    </select></h6>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider" style="border: 1px solid #ced3cf"></div>
                    <div class="modal-footer align-self-center">
                        <button type="button" class="btn btn-info" onclick="taoHoaDon()"
                                style="padding: 1px;color: black;">Thêm
                        </button>
                        <button type="button" class="btn btn-danger justify-content-end" data-dismiss="modal"
                                style="padding: 1px;color: black;">Hủy
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="SuccessModalSendMail" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-success-600">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            style="margin-top: 32px;  margin-bottom: 43px;line-height: 1.5385;margin-left: 48px;">Thành
                            công!</h5>
                        <svg id="successAnimation" class="animated" xmlns="http://www.w3.org/2000/svg" width="70"
                             height="70" viewBox="0 0 70 70">
                            <path id="successAnimationResult" fill="#D8D8D8"
                                  d="M35,60 C21.1928813,60 10,48.8071187 10,35 C10,21.1928813 21.1928813,10 35,10 C48.8071187,10 60,21.1928813 60,35 C60,48.8071187 48.8071187,60 35,60 Z M23.6332378,33.2260427 L22.3667622,34.7739573 L34.1433655,44.40936 L47.776114,27.6305926 L46.223886,26.3694074 L33.8566345,41.59064 L23.6332378,33.2260427 Z"/>
                            <circle id="successAnimationCircle" cx="35" cy="35" r="24" stroke="#979797" stroke-width="2"
                                    stroke-linecap="round" fill="transparent"/>
                            <polyline id="successAnimationCheck" stroke="#979797" stroke-width="2"
                                      points="23 34 34 43 47 27" fill="transparent"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>