<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
    <title>Dashboard</title>
</head>
<body>
<div class="content">
    <header layout:fragment="header" class="mt-3 ml-2 mr-2">
        <script>
            $(document).ready(function () {
                showCustomerTable();
            });

            function showCustomerTable() {
                $.ajax({
                    url: "/danh-sach-khach-hang",
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        let contentString;
                        for (let i = 0; i < data.length; i++) {
                            contentString = contentString
                                + '<tr role="row" class="odd">'
                                + '<td>' + data[i][0] + '</td>'
                                + '<td>' + data[i][1] + '</td>'
                                + '<td>' + data[i][2] + '</td>'
                                + '<td>' + data[i][3] + '</td>'
                                + '<td>' + data[i][4] + '</td>'
                                + '<td>' + data[i][5] + '</td>'
                                + '<td>' + data[i][6] + '</td>'
                                + '<td>' + data[i][7] + '</td>'
                                + '</tr>';
                        }
                        $("#bang_khach_hang").html(contentString);
                    }, error: function () {
                        alert("FAIL!");
                    }
                });
            }
        </script>
    </header>
    <section class="container-fluid" layout:fragment="content_body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title font-weight-bold">Danh sách khách hàng</h5>
                    </div>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <div class="datatable-scroll-wrap">
                            <table class="table datatable-responsive dataTable no-footer dtr-inline"
                                   id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                <tr role="row">
                                    <th>Mã KH</th>
                                    <th>Tên KH</th>
                                    <th>Ngày sinh</th>
                                    <th>Số CMND</th>
                                    <th>Địa chỉ</th>
                                    <th>Giới tính</th>
                                    <th>Ngày BDSD</th>
                                    <th>Mục đích SD</th>
                                    <th>Tùy chọn</th>
                                </tr>
                                </thead>
                                <tbody id="bang_khach_hang">
                                <!--                                <tr role="row" class="odd">-->
                                <!--                                    <td>1</td>-->
                                <!--                                    <td class="text-center">-->
                                <!--                                        <a href="#" class="list-icons-item text-teal-600"><i class="icon-cog6"></i></a>-->
                                <!--                                        <a href="#" class="list-icons-item text-danger-600 ml-1"><i-->
                                <!--                                                class="icon-trash"></i></a>-->
                                <!--                                    </td>-->
                                <!--                                </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>